{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/profit-club.mvacademy.ru",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2024-08-27T15:27:22.197Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2024-08-27T15:27:22.529Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1724954532055.2974,
          "date": "2024-08-29T18:03:29.318Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1724954585708.929,
          "date": "2024-08-29T18:03:30.314Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1724954587840.2043,
          "date": "2024-08-29T18:03:30.972Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1724954587846.2007,
          "date": "2024-08-29T18:03:31.628Z"
        },
        {
          "file": "fonts/InterBold.eot",
          "mtimeMs": 1711945486000,
          "date": "2024-08-27T15:27:24.523Z"
        },
        {
          "file": "fonts/InterBold.svg",
          "mtimeMs": 1711945486000,
          "date": "2024-08-27T15:27:25.341Z"
        },
        {
          "file": "fonts/InterBold.ttf",
          "mtimeMs": 1711945486000,
          "date": "2024-08-27T15:27:25.906Z"
        },
        {
          "file": "fonts/InterBold.woff",
          "mtimeMs": 1711945486000,
          "date": "2024-08-27T15:27:26.337Z"
        },
        {
          "file": "fonts/InterBold.woff2",
          "mtimeMs": 1711945490000,
          "date": "2024-08-27T15:27:26.850Z"
        },
        {
          "file": "fonts/InterRegular.eot",
          "mtimeMs": 1711945512000,
          "date": "2024-08-27T15:27:27.342Z"
        },
        {
          "file": "fonts/InterRegular.svg",
          "mtimeMs": 1711945512000,
          "date": "2024-08-27T15:27:28.033Z"
        },
        {
          "file": "fonts/InterRegular.ttf",
          "mtimeMs": 1711945512000,
          "date": "2024-08-27T15:27:28.516Z"
        },
        {
          "file": "fonts/InterRegular.woff",
          "mtimeMs": 1711945512000,
          "date": "2024-08-27T15:27:28.954Z"
        },
        {
          "file": "fonts/InterRegular.woff2",
          "mtimeMs": 1711945516000,
          "date": "2024-08-27T15:27:29.342Z"
        },
        {
          "file": "fonts/MulishBold.eot",
          "mtimeMs": 1724468060000,
          "date": "2024-08-27T15:27:29.802Z"
        },
        {
          "file": "fonts/MulishBold.svg",
          "mtimeMs": 1724468060000,
          "date": "2024-08-27T15:27:30.341Z"
        },
        {
          "file": "fonts/MulishBold.ttf",
          "mtimeMs": 1724468060000,
          "date": "2024-08-27T15:27:30.780Z"
        },
        {
          "file": "fonts/MulishBold.woff",
          "mtimeMs": 1724468060000,
          "date": "2024-08-27T15:27:31.201Z"
        },
        {
          "file": "fonts/MulishBold.woff2",
          "mtimeMs": 1724468060000,
          "date": "2024-08-27T15:27:31.544Z"
        },
        {
          "file": "fonts/MulishExtraBold.eot",
          "mtimeMs": 1724468070000,
          "date": "2024-08-27T15:27:31.977Z"
        },
        {
          "file": "fonts/MulishExtraBold.svg",
          "mtimeMs": 1724468070000,
          "date": "2024-08-27T15:27:32.546Z"
        },
        {
          "file": "fonts/MulishExtraBold.ttf",
          "mtimeMs": 1724468070000,
          "date": "2024-08-27T15:27:32.981Z"
        },
        {
          "file": "fonts/MulishExtraBold.woff",
          "mtimeMs": 1724468070000,
          "date": "2024-08-27T15:27:33.364Z"
        },
        {
          "file": "fonts/MulishExtraBold.woff2",
          "mtimeMs": 1724468072000,
          "date": "2024-08-27T15:27:33.816Z"
        },
        {
          "file": "fonts/MulishItalic.eot",
          "mtimeMs": 1724468084000,
          "date": "2024-08-27T15:27:34.251Z"
        },
        {
          "file": "fonts/MulishItalic.svg",
          "mtimeMs": 1724468084000,
          "date": "2024-08-27T15:27:34.825Z"
        },
        {
          "file": "fonts/MulishItalic.ttf",
          "mtimeMs": 1724468084000,
          "date": "2024-08-27T15:27:35.305Z"
        },
        {
          "file": "fonts/MulishItalic.woff",
          "mtimeMs": 1724468084000,
          "date": "2024-08-27T15:27:35.736Z"
        },
        {
          "file": "fonts/MulishItalic.woff2",
          "mtimeMs": 1724468084000,
          "date": "2024-08-27T15:27:36.091Z"
        },
        {
          "file": "fonts/MulishRegular.eot",
          "mtimeMs": 1724468022000,
          "date": "2024-08-27T15:27:36.530Z"
        },
        {
          "file": "fonts/MulishRegular.svg",
          "mtimeMs": 1724468022000,
          "date": "2024-08-27T15:27:37.071Z"
        },
        {
          "file": "fonts/MulishRegular.ttf",
          "mtimeMs": 1724468022000,
          "date": "2024-08-27T15:27:37.525Z"
        },
        {
          "file": "fonts/MulishRegular.woff",
          "mtimeMs": 1724468022000,
          "date": "2024-08-27T15:27:37.937Z"
        },
        {
          "file": "fonts/MulishRegular.woff2",
          "mtimeMs": 1724468024000,
          "date": "2024-08-27T15:27:38.294Z"
        },
        {
          "file": "fonts/MulishSemiBoldItalic.eot",
          "mtimeMs": 1724468124000,
          "date": "2024-08-27T15:27:38.711Z"
        },
        {
          "file": "fonts/MulishSemiBoldItalic.svg",
          "mtimeMs": 1724468124000,
          "date": "2024-08-27T15:27:39.288Z"
        },
        {
          "file": "fonts/MulishSemiBoldItalic.ttf",
          "mtimeMs": 1724468124000,
          "date": "2024-08-27T15:27:39.803Z"
        },
        {
          "file": "fonts/MulishSemiBoldItalic.woff",
          "mtimeMs": 1724468124000,
          "date": "2024-08-27T15:27:40.208Z"
        },
        {
          "file": "fonts/MulishSemiBoldItalic.woff2",
          "mtimeMs": 1724468124000,
          "date": "2024-08-27T15:27:40.969Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1724739823378.003,
          "date": "2024-08-27T15:27:41.851Z"
        },
        {
          "file": "img/icons/arrow-down.svg",
          "mtimeMs": 1724482612325.1094,
          "date": "2024-08-27T15:27:43.289Z"
        },
        {
          "file": "img/icons/next.svg",
          "mtimeMs": 1724755459292.1318,
          "date": "2024-08-27T15:27:45.330Z"
        },
        {
          "file": "img/images/about.png",
          "mtimeMs": 1724482233468.9326,
          "date": "2024-08-27T15:27:46.690Z"
        },
        {
          "file": "img/images/alex.png",
          "mtimeMs": 1724483200917.972,
          "date": "2024-08-27T15:27:48.196Z"
        },
        {
          "file": "img/images/club.png",
          "mtimeMs": 1724482112733.417,
          "date": "2024-08-27T15:27:49.365Z"
        },
        {
          "file": "img/images/club.svg",
          "mtimeMs": 1724482069994.107,
          "date": "2024-08-27T15:27:50.189Z"
        },
        {
          "file": "img/images/janna-0.png",
          "mtimeMs": 1724742538036.7166,
          "date": "2024-08-27T15:27:51.530Z"
        },
        {
          "file": "img/images/janna-1.png",
          "mtimeMs": 1724669089625.134,
          "date": "2024-08-27T15:27:53.744Z"
        },
        {
          "file": "img/images/janna-2.png",
          "mtimeMs": 1724669118627.0505,
          "date": "2024-08-27T15:27:54.940Z"
        },
        {
          "file": "img/images/janna-amb.png",
          "mtimeMs": 1724669154699.0642,
          "date": "2024-08-27T15:27:57.807Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1724483155335.5005,
          "date": "2024-08-27T15:27:59.156Z"
        },
        {
          "file": "img/images/logo-footer.svg",
          "mtimeMs": 1724483129387.5603,
          "date": "2024-08-27T15:28:00.715Z"
        },
        {
          "file": "img/images/logo-head.png",
          "mtimeMs": 1724661890712.7625,
          "date": "2024-08-27T15:28:01.890Z"
        },
        {
          "file": "img/images/main-directions-1.png",
          "mtimeMs": 1724662042334.1392,
          "date": "2024-08-27T15:28:03.042Z"
        },
        {
          "file": "img/images/main-directions-2.png",
          "mtimeMs": 1724662069334.003,
          "date": "2024-08-27T15:28:05.207Z"
        },
        {
          "file": "img/images/main-directions.png",
          "mtimeMs": 1724482217446.1416,
          "date": "2024-08-27T15:28:06.957Z"
        },
        {
          "file": "img/images/masyul.png",
          "mtimeMs": 1724483240402.4744,
          "date": "2024-08-27T15:28:09.482Z"
        },
        {
          "file": "img/images/medias-1.png",
          "mtimeMs": 1724668052859.74,
          "date": "2024-08-27T15:28:10.619Z"
        },
        {
          "file": "img/images/medias-2.png",
          "mtimeMs": 1724668075843.6746,
          "date": "2024-08-27T15:28:12.418Z"
        },
        {
          "file": "img/images/medias.png",
          "mtimeMs": 1724667951836.9954,
          "date": "2024-08-27T15:28:14.208Z"
        },
        {
          "file": "img/images/profit.png",
          "mtimeMs": 1724482098154.0508,
          "date": "2024-08-27T15:28:16.423Z"
        },
        {
          "file": "img/images/tigran.png",
          "mtimeMs": 1724483174910.202,
          "date": "2024-08-27T15:28:18.562Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1724758292728.4092,
          "date": "2024-08-27T15:28:21.116Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1724758299315.0322,
          "date": "2024-08-27T15:28:23.768Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1724758299338.0164,
          "date": "2024-08-27T15:28:26.791Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1724861053510.994,
          "date": "2024-08-28T16:08:23.704Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1724861053978.9524,
          "date": "2024-08-28T16:08:24.029Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1724861053979.9524,
          "date": "2024-08-28T16:08:24.333Z"
        },
        {
          "file": "img/images/logo-footer.png",
          "mtimeMs": 1724954459594.5288,
          "date": "2024-08-29T18:03:32.247Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/libs.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/scripts.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css/styles.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css/styles.min.css"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/libs.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/scripts.min.js"
        }
      }
    ]
  }
}
