@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'
@import '../_css/flipclock.min.css'
// @import '../_css/jquery.fancybox.min.css'

@import 'base/2-base'

// @import 'base/3-header'
@import 'main/1-main'
@import 'main/2-about'
@import 'main/3-info'
@import 'main/4-schedule'
@import 'main/5-btn-line'
@import 'main/6-for'
@import 'main/7-amb'
@import 'main/8-price'
@import 'base/4-footer'