-var path = '../';
-var head_url = 'https://profit-club.mvacademy.ru/oferta/';
-var head_title = 'Оферта Клуба';
-var styles = path+'css/rules.min.css';
//-var fav_app = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var noref = true;
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var ak = true;
-var ah = true;
//-var href = '#prices';


doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#rules
			.container
				h1 ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
				p Добро пожаловать на электронный сервис Телеграмм канал  Profit (Профит)club
				p Электронный сервис «Телеграмм канал Profit (Профит)club» (далее по тексту – «Сервис»)  позволяет легально смотреть в формате онлайн на различных устройствах информацию познавательного характера, размещенную в виде видеоматериалов, текстовых материалов, онлайн-встреч в области продвижения бизнеса и  личностного роста. Контент и Услуги предоставляются за плату.
				p Данное пользовательское соглашение  регулирует:
				ul
					li правила пользования Сервисом;
					li договорные отношения между Пользователем и Администратором;
					li правила использования размещенных на сервисе результатов интеллектуальной деятельности;
					li условия оказания Услуг Администратором Пользователю.
				p Соглашение распространяется только на Территорию Российской Федерации. Пользователи из зарубежных стран могут присоединится к клубу.
				h2 СОДЕРЖАНИЕ СОГЛАШЕНИЯ
				ol
					li Термины и определения
					li Предмет Соглашения. Принятие и изменение условий Соглашения
					li Возрастные ограничения
					li Размещение Контента 
					li Содержание и функционал Сервиса
					li Рецензии/ комментарии
					li Право на использование рецензии/комментарии
					li Размещение/направление рекламных и информационных материалов
					li Описание Услуг, предоставляемых на Сервисе
					li Стоимость Услуг на Сервисе
					li Автоматическое продление. Отказ от Услуг. Возвраты
					li Направление чеков. Платежи. 
					li Технические требования
					li Использование Сервиса в законных целях. Требования информационной безопасности
					li Интеллектуальная собственность
					li Ответственность. Ограничение ответственности
					li Подсудность. Применимое право
					li Служба поддержки. Порядок направления претензий и юридически значимых сообщений
					li Заключительные положения
				h3 1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
				p Администратор – владелец и правообладатель Сервиса, Индивидуальный предприниматель Кудряшов Александр Анатольевич, ОГРНИП: 315723200065100.
				p Контент – видео и аудиовизуальные произведения в цифровых форматах, трансляции онлайн-встреч, текстовые и графические материалы, фото - материалы. Контент может включать в себя как одно конкретное произведение, так и несколько или все произведения перечисленных форм, доступные на Сервисе, в зависимости от контекста.
				p Личный кабинет – персональная страница Пользователя находится по адресу: 
					a(href='https://shop.mastervision.su/personal/profile/update' target='_blank') https://shop.mastervision.su/personal/profile/update
				p Правоустанавливающие договоры – договоры (лицензионные, агентские, об отчуждении исключительного права и другие) с лицензиарами/правообладателями/уполномоченными лицами, на основании которых Администратор получает право легально размещать Контент, на Сервисе.
				p Просмотр или смотреть – доступ к приему потоковой передачи Контента в сети Интернет.
				p Подписка – бессрочная Услуга, в рамках которой Администратор предоставляет Пользователю возможность Просмотра на Сервисе определенного Администратором Контента. Количество Просмотров по Подписке не ограничено.
				p Электронный сервис «Телеграмм канал Profit(Профит) club» - закрытый телеграмм канал,  позволяющий Пользователям легально смотреть онлайн на различных устройствах информацию познавательного характера, размещенную в виде видеоматериалов, текстовых материалов, онлайн-встреч в области продвижения бизнеса и  личностного роста, а также размещать комментарии и вопросы, относящиеся к указанным материалам, в рамках ограничений, установленным настоящим Соглашением. Контент и Услуги предоставляются за плату.
				p Территория - Российская Федерация
				p Услуги –платные услуги по техническому доступу к Сервису, предусмотренные Соглашением,  которые Администратор оказывает Пользователю.
				p Устройства – различные пользовательские устройства (компьютеры, ноутбуки, мобильные телефоны), предоставляющие доступ к Сервису через интернет-сайт или специальное программное обеспечение (программное приложение), устанавливаемое на Устройства.
				h3 2. ПРЕДМЕТ СОГЛАШЕНИЯ. ПРИНЯТИЕ И ИЗМЕНЕНИЕ УСЛОВИЙ СОГЛАШЕНИЯ
				p 2.1. Пользователь вправе на условиях Соглашения смотреть Контент на Сервисе. Просмотр может сопровождаться демонстрацией рекламы. Пользователь также вправе писать комментарии и вопросы в чате Сервиса, при наличии разрешения Администратора. 
				p 2.2. Соглашение является публичной офертой в соответствии со ст. 437 Гражданского Кодекса Российской Федерации (ГК РФ).
				p 2.3. Полным и безоговорочным акцептом Пользователем условий Соглашения считается факт внесения оплаты за предоставление доступа Сервисом.
				p 2.4. Акцепт означает согласие Пользователя, о принятии оферты на предложенных Администратором условиях (со всеми пунктами и обязательствами, предусмотренными Соглашением). Если Пользователь не ознакомился с условиями Соглашения, это не освобождает Пользователя от ответственности и не отменяет заключение договора.
				p 2.5. Действующая редакция Соглашения доступна в сети Интернет по адресу: https://profit-club.mvacademy.ru/
				p 2.5.1. Пользователь обязуется регулярно, не реже 1 раза в 14 дней, знакомиться с содержанием Соглашения в целях своевременного ознакомления с его изменениями/дополнениями.
				p 2.5.2. Если Пользователь использует Сервис после внесения любых изменений/дополнений в Соглашение, это означает, что Пользователь согласен и принимает такие изменения/дополнения.
				p 2.6. Если Пользователь не согласен соблюдать Соглашение, то Пользователь обязан прекратить использование Сервиса путем выхода из Сервиса.
				h3 3. ВОЗРАСТНЫЕ ОГРАНИЧЕНИЯ
				p 3.1. Возрастная категория Сервиса
				p 3.1.1. Сервис содержит Контент для всех возрастных категорий. Общая возрастная категория Сервиса составляет 18+.
				p 3.1.2. Если на Сервисе указана возрастная категория Контента, это означает, что доступ к этому контенту запрещен детям, не достигшим указанного возраста. Так как отдельный контент Сервиса запрещен для детей в соответствии  ч. 3 ст. 14 Федерального закона РФ от 29 декабря 2010 г. N 436-ФЗ).
				p 3.2. Обозначение возрастной категории на Сервисе
				p 3.2.1. Администратор по своему выбору указывает возрастную категорию Контента.
				p 3.3. Определение возрастной категории
				p 3.3.1. Администратор определяет возрастную категорию на основании следующих данных:
				ul
					li классификации, которую самостоятельно или с привлечением эксперта выполнил производитель/правообладатель/лицензиар Контента в соответствии с законодательством России и указал в Правоустанавливающем договоре с Администратором;
				p 3.3.2. Администратор также вправе самостоятельно производить классификацию информационной продукции, публикуемой на Сервисе, в соответствии с Федеральным законом РФ от 29 декабря 2010 г. N 436-ФЗ.
				p 3.3.3. Администратор вправе самостоятельно без уведомления Пользователя изменять возрастную категорию Контента, иных информационных материалов, размещенных на Сервисе. Администратор изменяет возрастную категорию в обязательном порядке по законному требованию уполномоченных государственных органов.
				p 3.4. Доступ несовершеннолетних к Контенту Сервиса:
				p 3.4.1. Несовершеннолетний обязуется воздерживаться от просмотра Контента Сервиса, непредназначенных для его возрастной категории.
				p 3.4.2. Совершеннолетний Пользователь (т.е. достигший установленного возраста согласно законодательству страны, резидентом которой является Пользователь, но не менее 18 лет) гарантирует, что:
				ul
					li несовершеннолетние получают доступ к разделам Сервиса под контролем совершеннолетнего Пользователя, с соблюдением ограничений, установленных применимым законодательством и Соглашением;
					li совершеннолетний Пользователь не предоставляет/не предоставит несовершеннолетнему доступ к непредназначенным для данной возрастной категории разделам Сервиса;
				p 3.4.3. Детский профиль не предусмотрен.
				h3 4. РАЗМЕЩЕНИЕ КОНТЕНТА. СРОК И ТЕРРИТОРИЯ ИСПОЛЬЗОВАНИЯ
				p 4.1. Контент на Сервисе размещается Администратором на русском языке на основании Правоустанавливающих договоров. Также Администратор является правообладателем части Контента на Сервисе. 
				p 4.2. Срок использования
				p 4.2.1. Правоустанавливающие договоры определяют допустимый срок использования Контента на Сервисе. Администратор не вправе размещать Контент, за пределами срока по Правоустанавливающему договору. Контент, удаляются с Сервиса после истечения срока использования.
				p 4.3. Территория 
				p 4.3.1. Контент используется на территории Российской Федерации. 
				h3 5. СОДЕРЖАНИЕ И ФУНКЦИОНАЛ СЕРВИСА
				p 5.1. Ссылки на сторонние ресурсы
				p Сервис может содержать ссылки на сторонние ресурсы в сети Интернет. Администратор не контролирует сторонние ресурсы и не несет никакой ответственности за доступность этих ресурсов/их содержание, а также за любые последствия, связанные с использованием этих ресурсов. Любые переходы по ссылкам, Пользователь производит на свой страх и риск.
				p 5.2. Изменение содержания Сервиса
				p 5.2.1. Администратор вправе:
				ul
					li самостоятельно изменять (дополнять/удалять) публикуемую на Сервисе информацию, составные части Сервиса;
					li приостанавливать, ограничивать или прекращать доступ Пользователя к неактуальным разделам Сервиса.
				p 5.2.2. Из-за функционального развития и модернизации Сервиса, кнопки, указатели и разделы Сервиса, упомянутые в Соглашении, могут время от времени переименовываться по усмотрению Администратора.
				h3 6. РЕЦЕНЗИИ/ КОММЕНТАРИИ
				p 6.1. Администратор вправе предоставить Пользователям возможность размещать на Сервисе комментарии, вопросы либо рецензии на Контент.
				p 6.2. Недопустимые рецензии/комментарии
				p Пользователю при использовании Сервиса запрещается загружать, хранить, публиковать, распространять, предоставлять доступ или иным образом использовать любую информацию, которая:
				ul
					li используется в целях совершения уголовно наказуемых деяний и административных правонарушений;
					li содержит публичные призывы к осуществлению террористической деятельности, публично оправдывает терроризм;
					li содержит экстремистские материалы;
					li является вульгарной или непристойной, содержит нецензурную брань, порнографию;
					li пропагандирует культ насилия и жестокости;
					li содержит угрозы, дискредитирует, оскорбляет, порочит честь, достоинство, деловую репутацию, нарушает неприкосновенность частной жизни Пользователей или третьих лиц;
					li нарушает права несовершеннолетних;
					li содержит описание средств и способов суицида, любое подстрекательство к его совершению;
					li пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;
					li пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;
					li используется для разглашения сведений, составляющих государственную или иную специально охраняемую законом тайну;
					li содержит информацию ограниченного доступа, включая, но не ограничиваясь, коммерческую тайну, информацию о персональных данных и о частной жизни третьих лиц; 
					li содержит рекламу Пользователя, любых третьих лиц, их товаров, работ и услуг;
					li носит мошеннический характер;
					li является интеллектуальной собственностью третьих лиц, не дававших разрешение Пользователю на ее использование,
					li вводит в заблуждение других Пользователей Сервиса, в том числе относительно статуса Пользователя и Администратора;
					li носит характер подстрекательства и провокации, в том числе к обсуждению поведения других Пользователей Сервиса, а также к обсуждению тем, не являющихся предметом наполнения сервиса (в том числе дискуссии на политические и общеэкономические темы);
					li содержит ссылки на сторонние ресурсы, содержание которых противоречит требованиям применимого законодательства;
					li не имеет прямого отношения к темам Сервиса;
					li иным образом нарушает права и интересы граждан и юридических лиц или требования применимого законодательства.
				p Пользователю также запрещается:
				ul
					li копировать и распространять любую информацию Сервиса;
					li создавать группы с Пользователями Сервиса самостоятельно , владельцем таких групп может быть только Администратор Сервиса. 
					li размещать ссылки на телеграм-каналы, групповые чаты и сайты, не имеющие отношение к Сервису.
				h3 7. ПРАВО НА ИСПОЛЬЗОВАНИЕ РЕЦЕНЗИИ/КОММЕНТАРИЯ
				p 7.1. Публикуя рецензию/комментарий, Пользователь гарантирует, что он является автором рецензии/комментария, и предоставляет Администратору право использования рецензии/комментария:
				ul
					li на основании неисключительной лицензии;
					li способом доведения до всеобщего сведения/распространения;
					li на территории РФ;
					li в течение всего срока действия исключительного права;
					li анонимно;
					li безвозмездно.
				p 7.2. Администратор не удаляет с Сервиса рецензии/комментарии по требованию Пользователей, если рецензии/комментарии соответствуют условиям Соглашения и применимому законодательству.
				p 7.3. Права Администратора и освобождение Администратора от ответственности
				p 7.3.1. Администратор не занимается предварительной модерацией, цензурой комментариев и рецензий. Администратор предпринимает действия по защите прав и интересов третьих лиц после обращения заинтересованного лица к Администратору в установленном Соглашением порядке.
				p 7.3.2. Пользователь несет ответственность за создание и размещение на Сервисе комментариев и рецензий на Контент, соответствующих правилам данного раздела Соглашения и применимому законодательству.
				p 7.3.3. Администратор вправе по собственному усмотрению в любой момент по любой причине без уведомления Пользователя:
				ul
					li удалить с Сервиса любой комментарий/рецензию;
					li ограничить или убрать из Сервиса функцию комментариев и рецензирования.
				h3 8. РАЗМЕЩЕНИЕ/НАПРАВЛЕНИЕ РЕКЛАМНЫХ И ИНФОРМАЦИОННЫХ МАТЕРИАЛОВ
				p 8.1. Реклама и информационные ролики на Сервисе
				p 8.1.1. Администратор вправе:
				ul
					li размещать рекламу в любом разделе Сервиса;
				p 8.2. Недопустимость блокировки
				p 8.2.1. Пользователь обязан:
				ul
					li не применять программное обеспечение и технологии, блокирующие рекламу на Сервисе, в том числе при демонстрации Контента;
					li воздержаться от иного блокирования, отключения рекламной информации на Сервисе.
				p 8.3. Рассылки Пользователям
				p 8.3.1. Администратор вправе посредством сетей электросвязи осуществлять рассылки Пользователям сообщений, содержащих:
				ul
					li информацию о Контенте;
					li сведения об акциях, скидках, функционале Сервиса;
					li рекламные, информационные материалы Администратора и третьих лиц.
				p 8.3.2. Пользователь, используя Сервис, дает Администратору свое согласие на получение рекламы и информационных сообщений Администратора и/или третьих лиц:
				ul
					li размещаемой на Сервисе и в процессе демонстрации Контента;
					li распространяемой Администратором и/или третьими лицами по согласованию с Администратором, посредством сетей электросвязи.
				p 8.4. Отказ Пользователя от рекламы
				p 8.4.1. Пользователь вправе отказаться от получения рекламных рассылок по сетям электросвязи (электронная почта, SMS, звонки):
				ul
					li Для рекламных рассылок, получаемых Пользователем по электронной почте: Пользователь нажимает на кнопку «отписаться от рассылки» и далее следует инструкциям;
					li Для отключения рекламных рассылок, получаемых Пользователем другими способами по сетям электросвязи, Пользователь обязан обратиться в службу поддержки по адресу_
						a(href='https://profit-club.mvacademy.ru/' target='_blank') https://profit-club.mvacademy.ru/
				h3 9. ОПИСАНИЕ УСЛУГ, ПРЕДОСТАВЛЯЕМЫХ НА СЕРВИСЕ
				p 9.1. В рамках Сервиса Администратор оказывает Пользователю платные Услуги доступа к закрытому Телеграмм каналу Profit-club,  специализирующемуся в области продвижения бизнеса и личностного роста, по следующим темам: Личный бренд, Продажи, Социальные сети и продвижение, Запуски и самозапуски, Маркетинг, Юридические вопросы, Психология и коучинг, 9.2. Технические вопросы.
				p 9.2.1. Услуга предоставляется в форме подписки.
				p 9.2.2. Расчетный период равен 30 дням. В случае отказа Пользователя от продления, Подписка действует до окончания последнего оплаченного периода.
				p 9.2.3. Предоставление Услуг может быть прекращено в случае прекращения Правоустанавливающего договора между Администратором и правообладателем.
				p 9.3. Начало действия платных Услуг исчисляется с момента внесения Пользователем стоимости Услуги/первого абонентского платежа и отражения факта оплаты в электронной системе учета платежей Администратора.
				p 9.4. Услуги Администратора заключаются в предоставлении Пользователю технической возможности получить доступ к Просмотру Контента. В момент предоставления такой технической возможности (открытия доступа к Просмотру) Услуги считаются оказанными Администратором.
				p 9.5. В связи с модернизацией и развитием Сервиса, Администратор вправе изменять (дополнять, сокращать) перечень/название/содержание Услуг, доступных на Сервисе, заказываемых на новые периоды. Актуальные виды Услуг, доступные для Заказа, указываются на Сервисе.
				p 9.6. При заказе и оплате Услуг Сервиса Пользователь понимает и соглашается, что:
				p 9.6.1. Пользователь обязуется предварительно ознакомиться с перечнем Контента в рамках приобретаемых Услуг и расписанием, размещенным по адресу
					a(href='https://profit-club.mvacademy.ru/' target='_blank') https://profit-club.mvacademy.ru/;
				p заказывая и оплачивая доступ, Пользователь подтверждает, что данный перечень полностью устраивает Пользователя;
				p 9.7. Администратор вправе в любое время удалять с Сервиса и/или добавлять на Сервис любой Контент без уведомления Пользователя;
				p определенный Контент может быть недоступны в отдельных, на определенных территориях (например, населенных пунктах),  и на определенных Устройствах;
				ul
					li возможность загрузки не предусмотрена для всего Контента и отдельных Услуг;
					li имеются иные ограничения, предусмотренные Соглашением.
				p 9.8. Исключения из объема Услуг
				p 9.8.1. Администратор не предоставляет Пользователю услуги связи, которые регламентируются Федеральным законом РФ от 07.07.2003 N 126-ФЗ.
				p 9.9. Все вопросы приобретения прав доступа в Интернет, покупки и наладки соответствующего оборудования/программных продуктов решаются Пользователем самостоятельно и не включаются в объем/стоимость Услуг.
				p 9.10. Маркетинговые акции
				p Администратор вправе проводить маркетинговые акции, в рамках которых предоставлять Услуги по сниженной стоимости. Администратор самостоятельно определяет сроки и условия таких акций.
				h3 10. СТОИМОСТЬ УСЛУГ НА СЕРВИСЕ
				p 10.1. Стоимость Услуг указана 
					a(href='https://profit-club.mvacademy.ru/' target='_blank') https://profit-club.mvacademy.ru/
				p 10.1.1. Администратор вправе изменять стоимость любых Услуг на Сервисе, заказываемых на новые периоды.
				p 10.2. Все платежи за Услуги включают налог на добавленную стоимость (НДС) в размере, установленном законодательством России на момент платежа (если применимо).
				h3 11. АВТОМАТИЧЕСКОЕ ПРОДЛЕНИЕ. ОТКАЗ ОТ УСЛУГ. ВОЗВРАТЫ
				p 11.1. Квалификация договора (предоставление Подписок)
				p Пользователь обязан вносить периодические абонентские платежи независимо от того, было ли затребовано Пользователем соответствующее исполнение от Администратора (произведены Просмотры Контента на Сервисе).
				p 11.2. Если очередная попытка оплаты не удалась, система отправляет уведомление и повторяет попытку через сутки. Всего две дополнительных попыток может быть направлено после после первого неуспешного списания. После трех неудачных списаний подряд система отменяет подписку.
				p 11.3. Пользователь имеет право отказаться от автоматического продления Подписки. В таком случае, Подписка предоставляется Пользователю до момента отключения автоматического продления, либо до конца действия текущего оплаченного периода Подписки, в зависимости от вида Подписки согласно условиям Соглашения. Денежные средства за новый расчетный период не взимаются. Отказ от автоматического продления Подписки на следующий расчетный период возможен не позднее чем за 24 часа до окончания текущего расчетного периода.
				p 11.4. Пользователь соглашается на автоматическое списание денежных средств с банковского счета Пользователя (банковской карты, привязанной к Личному кабинету) в рамках автоматического продления Подписок.
				p 11.5 Возврат денежных средств при отказе от Услуг
				p 11.5.1. Услуга Администратора заключается в предоставлении Пользователю технической возможности получить доступ к Просмотру Контента. В момент предоставления такой технической возможности (открытия доступа к Просмотру) Услуга считается оказанной Администратором. По общему правилу, денежные средства при отказе от Услуги после ее оказания не возвращаются.
				p 11.6.	Денежные средства не возвращаются по причине, что Контент не соответствует вкусу/ожиданиям Пользователя. Пользователь обязан ознакомиться с описанием Контента до его приобретения. Администратор оказывает только технические Услуги по доступу к Контенту.
				p 11.7.	Денежные средства за Подписку за предыдущие расчетные периоды Пользователю не возвращаются, так как Услуги за предыдущие расчетные периоды на момент отказа уже оказаны Администратором надлежащим образом независимо от того смотрел ли Пользователь Контент (условия абонентского договора, ст. 429.4 ГК РФ) и должны быть оплачены Пользователем.
				p 11.8.	Срок возврата на банковскую карту Пользователя напрямую зависит от внутреннего регламента банка Пользователя и может составлять от 1 до 30 дней. Администратор не вправе и не имеет возможности ускорить данные сроки.
				p 11.8.1. Для оформления возврата требуется  письменное заявление с собственноручной подписью Пользователя.
				h3 12. НАПРАВЛЕНИЕ ЧЕКОВ. ПЛАТЕЖИ. 
				p 12.1. Направление чеков
				p 12.1.1. Пользователь обязан предоставить Администратору до оплаты Услуг Сервиса адрес электронной почты для направления кассового чека и подтвердить действительность этого адреса. Пользователь обязан проверить корректность заполнения данных об адресе электронной почты. Администратор не несет ответственности за ошибки Пользователя в заполнении. Администратор направляет кассовый чек на предоставленный и подтвержденный Пользователем адрес электронной почты.
				p 12.2. Платежи
				p 12.2.1. Безналичная оплата. Общие положения
				p Оплату доступа к Сервису вправе произвести только зарегистрированный Пользователь, который произвел регистрацию. Такой Пользователь может произвести оплату безналичным способом с помощью:
				ul
					li Tinkoff. Visa/Mastercard; PaySelection (МВ) (для иностранных платежей);
					li с расчетного счета юридического лица или ИП;
					li Перевод от частных лиц по реквизитам; 
					li Прямой банковский перевод для физ. лиц.
				p 12.2.2. Администратор вправе изменять и дополнять способы оплаты, предусмотренные Соглашением. Пользователь, прошедший регистрацию и авторизацию, может посмотреть все действующие актуальные способы оплаты на странице покупки Услуг.
				p 12.2.3. Оплату Услуг Сервиса невозможно произвести частями, используя несколько способов оплаты сразу. Например, часть стоимости Услуги оплатить с помощью банковской карты, а часть с использованием иного способа оплаты.
				p 12.2.4. Если лица, обеспечивающие проведение платежей за Услуги, взимают комиссию за платежи, Пользователь подтверждает свое согласие на оплату таких комиссий третьим лицам.
				p 12.3. Особенности оплаты банковскими картами
				p 12.3.1. Пользователь обязуется использовать для оплаты Услуг только банковскую карту, владельцем которой является Пользователь, и в отношении которой между банком и Пользователем заключен соответствующий договор. В случае, если Пользователь для оплаты Услуг использует банковскую карту третьего лица, то Пользователь самостоятельно несет ответственность за ущерб, который был/может быть причинен действительному владельцу банковской карты.
				p 12.3.2. Введенные Пользователем данные банковской карты сохраняются в системах сертифицированных операторов интернет-платежей в соответствии с правилами международных и российских платежных систем и сертификации PCI-DSS.
				p 12.3.3. Привязывая банковскую карту в соответствии с Соглашением, Пользователь полностью соглашается с применением технологии проведения платежей, при которой данные привязанной карты сохраняются на стороне платежных посредников и используются в дальнейшем для проведения платежей без авторизации через 3-D Secure и без ввода CVV/CVC.
				h3 13. ТЕХНИЧЕСКИЕ ТРЕБОВАНИЯ
				p 13.1. Администратор не несет ответственность в случае отсутствия доступа по техническим причинам к Телеграмм каналу Пользователям.
				p 13.2. Нелицензионные технические средства
				p Услуги не оказываются на нелицензионных Устройствах, либо Устройствах, использующих для доступа к Сервису нелицензионные, неофициальные, взломанные, модифицированные программные приложения, операционные системы, иные технические средства, а также на Устройствах, использующих бета-версии операционных систем.
				p 13.3. Скорость интернет-соединения
				p 13.3.1. Качество Просмотра работы Сервиса зависит от скорости интернет-соединения Пользователя.
				p 13.3.2. Скорость доступа к Сервису и/или Просмотра Контента в сети Интернет может меняться в силу загруженности канала Пользователя трафиком от других ресурсов или по иным, не зависящим от Администратора, причинам.
				p 13.4. Администратор не несет ответственности, если Пользователь не смог получить доступ к Сервису и/или Просмотру Контента по причине низкой скорости интернет-соединения.
				p 13.5. Администратор не несет ответственности за неисправности оборудования и сетей связи, принадлежащих третьим лицам и используемых для оказания услуг связи Пользователям.
				p 13.6. Качество видео и звука
				p 13.7.  Качество видео и звука при воспроизведении зависит от:
				ul
					li Устройства Пользователя;
					li скорости интернет-соединения;
					li типа Услуги;
					li качества видео/звука, фактически полученного Администратором от правообладателя/лицензиара;
					li ограничений, установленных Правоустанавливающими договорами.
				p 13.8. Администратор размещает на Сервисе Контент, в том качестве, в котором Администратор их получил от правообладателя/лицензиара. Администратор предпринимает лучшие усилия, чтобы обеспечить надлежащее качество получаемых материалов, но не может гарантировать и исключить ошибки.
				p 13.9. Порядок разрешения Пользователем технических проблем
				p 13.9.1. В случае если у Пользователя возникают технические проблемы с использованием Сервиса и Услуг, Пользователь обязан до обращения с претензией к Администратору предпринять все меры для устранения технических проблем, указанные на следующей справочной странице Сервиса: 
					a(href='mailto:profit-club@mvacademy.ru' target='_blank') profit-club@mvacademy.ru
				h3 14. ИСПОЛЬЗОВАНИЕ СЕРВИСА В ЗАКОННЫХ ЦЕЛЯХ. ТРЕБОВАНИЯ ИНФОРМАЦИОННОЙ БЕЗОПАСНОСТИ
				p 14.1. Пользователь обязуется использовать Сервис в законных целях, включая, но не ограничиваясь:
				ul
					li при использовании Сервиса соблюдать законодательство Российской Федерации, Территории, а также иное применимое законодательство;
					li соблюдать права и законные интересы Администратора, правообладателей/лицензиаров размещенного на Сервисе Контента/иных результатов интеллектуальной деятельности;
					li не использовать Сервис, Контент способами, отличными от предусмотренных в Соглашении;
					li использовать полученную на Сервисе информацию исключительно в законных и личных некоммерческих целях, не противоречащих нравственным принципам и общепризнанным ценностям;
					li не осуществлять любые иные действия, нарушающие права Администратора и/или третьих лиц.
				p 14.2. Пользователь обязуется не вмешиваться и не нарушать работу Сервиса, в том числе с использованием программного обеспечения, включая, но не ограничиваясь:
				ul
					li воздерживаться от действий, направленных на дестабилизацию работы Сервиса;
					li не осуществлять попыток несанкционированного доступа к Сервису, персональным данным, результатам интеллектуальной деятельности, размещенным на Сервисе,
					li не производить незаконных и мошеннических действий с платежами, процессом регистрации, иным использованием Сервиса.
				h3 15. ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ
				p 15.1. Все используемые и размещенные на Сервисе результаты интеллектуальной деятельности являются интеллектуальной собственностью Администратора, правообладателей и охраняются применимым законодательством.
				p 15.2. Любое использование Сервиса, Контента и размещенных на Сервисе результатов интеллектуальной деятельности (в том числе товарных знаков, элементов визуального оформления Сервиса, символики, текстов, графических изображений, иллюстраций, фото, видео, программ, музыки, других средств индивидуализации и объектов) в нарушение Соглашения без разрешения Администратора или правообладателя является незаконным.
				p 15.3. Пользователь не вправе производить публичный показ Контента, в любых общественных местах бесплатно или за плату.
				p 15.4. Кроме случаев, установленных Соглашением, Контент, любой результат интеллектуальной деятельности, размещенный на Сервисе, не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан, модифицирован или иным способом использован целиком или по частям, без предварительного разрешения Администратора или правообладателя.
				p 15.5. Любому лицу запрещается изменять, декомпилировать, дешифровать и производить иные действия с объектным кодом Сервиса, создавать производные произведения с использованием Сервиса.
				p 15.6. Нарушитель может быть привлечен к гражданско-правовой, административной и/или уголовной ответственности в соответствии с применимым законодательством.
				h3 16. ОТВЕТСТВЕННОСТЬ. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
				p 16.1. Доступ к Сервису предоставляется «как есть» (“as is”). Администратор не дает никаких гарантий или заверений в отношении Сервиса и не отвечает за соответствие Сервиса ожиданиям Пользователей
				p 16.2. Ограничение ответственности Администратора за технические проблемы и сбои
				p 16.2.1. Администратор не несет ответственности за:
				ul
					li технические сбои/аварии сетей связи, дата-центров, серверов, провайдеров, оборудования;
					li нарушения в работе программного обеспечения, скриптов, сервисов электронной почты;
					li любые ошибки, прерывания, удаления, дефекты;
					li задержки в обработке или передаче данных;
					li кражу, уничтожение или неправомерный доступ третьих лиц к результатам интеллектуальной деятельности, размещенным на Сервисе.
				p 16.2.2. Администратор не отвечает за безошибочную и бесперебойную работу Сервиса, убытки, возникшие у Пользователей из-за технических сбоев по вине третьих лиц в работе Сервиса, аппаратного или программного обеспечения.
				p 16.2.3. Администратор не несет ответственности за любой ущерб Устройствам, программному обеспечению Пользователя, вызванный или связанный с использованием Сервиса.
				p 16.3. Ограничение ответственности за рекламные и информационные материалы
				p 16.3.1. Администратор не несет ответственности за:
				ul
					li достоверность рекламы, размещаемой на Сервисе;
					li качество товаров/работ/услуг, приобретенных Пользователем после просмотра рекламы, размещенной на Сервисе;
					li за возможное несоответствие товаров/работ/услуг общепринятым стандартам или ожиданиям Пользователя;
					li любую размещенную на Сервисе третьими лицами информацию, включая рецензии и комментарии.
				p 16.3.2. Все претензии по содержанию рекламы и качества товаров/работ/услуг Пользователь должен адресовать напрямую рекламодателю и производителю.
				p 16.4. Ограничение ответственности за содержание Контента
				p 16.4.1. Администратор размещает Контент предоставленного Администратору третьими лицами в том виде, в котором получил от правообладателя.
				p 16.4.2. Администратор не вправе нарушать неприкосновенность произведения и вносить в Контент, какие-либо изменения. Лицензиар/правообладатель гарантировал Администратору в Правоустанавливающем договоре, что Контент не нарушают любые законные права третьих лиц и их содержание соответствует применимому законодательству.
				p 16.4.3. Все претензии направляются напрямую правообладателям по содержанию Контента относительно законности использования объектов интеллектуальной собственности/нарушения прав авторов/исполнителей в Контенте.
				p 16.5. Администратор не несет ответственность перед Пользователем, третьими лицами за любой прямой, косвенный, неумышленный ущерб, включая упущенную выгоду из-за использования Пользователем Сервиса или результатов интеллектуальной деятельности, размещенных на Сервисе.
				p 16.6. В случае предъявления третьими лицами претензий к Администратору, связанных с использованием Пользователем Сервиса, Пользователь обязуется своими силами и за свой счет урегулировать указанные претензии с третьими лицами, оградив Администратора от возможных убытков и разбирательств.
				p 16.7. Нарушение Пользователем условий Соглашения. Мошенничество. Блокировка учетной записи.
				p Администратор вправе заблокировать Пользователю доступ к Сервису, учетной записи, Услугам (в том числе оплаченным) в случае:
				ul
					li если Пользователь нарушит условия Соглашения;
					li если Администратор сочтет действия Пользователя мошенническими или направленными на порчу Сервиса, организацию DDoS-атаки и т.п.
				p Денежные средства, уплаченные Пользователем за Услуги Сервиса, в данном случае возврату не подлежат, а учетная запись Пользователя блокируется.
				h3 17. ПОДСУДНОСТЬ. ПРИМЕНИМОЕ ПРАВО
				p 17.1. Соглашение, отношения между Администратором и Пользователем, вопросы, не урегулированные Соглашением, регулируются и толкуются в соответствии с законодательством Российской Федерации.
				p 17.2. Стороны Соглашения при возникновении спорных вопросов юридического характера, связанных Соглашением, обязуются подчиняться исключительной юрисдикции судов Российской Федерации.
				h3 18. СЛУЖБА ПОДДЕРЖКИ. ПОРЯДОК НАПРАВЛЕНИЯ ПРЕТЕНЗИЙ И ЮРИДИЧЕСКИ ЗНАЧИМЫХ СООБЩЕНИЙ
				p 18.1. Служба поддержки
				p 18.1.1. Пользователь может найти ответы на часто задаваемые вопросы о работе Сервиса в 
					a(href='profit-club@mvacademy.ru' target='_blank') profit-club@mvacademy.ru
				p 18.2. Пользователь также вправе обратиться с любыми вопросами, предложениями и проблемами в службу поддержки Сервиса:
				ul
					li по адресу электронной почты
						a(href='mailto:profit-club@mvacademy.ru' target='_blank') profit-club@mvacademy.ru
					li в чате, мессенджере Telegram;
					li по номерам телефонов, указанным на Сервисе.
				p 19.1.3. Администратор предпринимает лучшие усилия, чтобы решить проблему Пользователя. Однако, проблема не может быть устранена, если Пользователь не будет следовать инструкциям службы поддержки Администратора.
				p 19.2. Адрес для направления юридически значимых сообщений
				p Адрес для направления юридически значимых сообщений: 
				p Юридически значимые сообщения направлять на адрес электронной почты 
					a(href='mailto:profit-club@mvacademy.ru' target='_blank') profit-club@mvacademy.ru
				h3 19. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
				p 19.1. Администратор вправе привлекать любых третьих лиц для выполнения обязательств по Соглашению без согласования с Пользователем.
				p 19.2. Если какие-либо из условий Соглашения являются недействительными или не имеющими юридической силы, все остальные условия Соглашения сохраняют юридическую силу и являются действительными.
				p 19.3. Соглашение заключается на неопределенный срок и распространяет свое действие на Пользователей, получающих доступ к Сервису и осуществляющих использование Сервиса, как до даты опубликования Соглашения, так и после даты опубликования Соглашения на Сервисе.
				br
				a(href='/') назад
		include pug/scripts/body_bottom_scripts