-var path = '../';
-var head_url = 'https://profit-club.mvacademy.ru/rules/';
-var head_title = 'Правила Клуба';
//-var head_description = 'Сообщество для финансового роста и развития специалистов помогающих профессий в мягких нишах';
//-var head_img = 'img/banner.jpg';
-var styles = path+'css/rules.min.css';
//-var fav_app = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
//-var libs = path+'js/libs.min.js';
//-var scripts = path+'js/scripts.min.js';
-var noref = true;
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var ak = true;
-var ah = true;
//-var href = '#prices';

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#rules
			.container
				h1 Правила канала и чата клуба:
				h3 1 Разрешено:
				p 1.1 Оставлять комментарии и обсуждать контент, который публикуется на канале и в чате Клуба.
				p 1. 2 Задавать вопросы организаторам и спикерам по публикуемым материалам на канале и в чате клуба.
				h3 Приветствуется: 
				p Ставить реакции на полезные сообщения в чате. 
				p Участвовать в различных флешмобах чата.
				h3 2 Запрещено: 
				p 2.1 Выдавать себя за представителя администрации клуба.
				p 2.2 Создавать группы с участниками клуба самостоятельно, владельцами таких групп могут быть только администрация клуба. 
				p 2.3 Размещать ссылки на Telegram-каналы, групповые чаты и сайты, не имеющие отношение к клубу.
				p 2.4 Копировать информацию в Клубе и распространять ее.
				p 2.5 Выносить на обсуждение и каким-либо образом комментировать текущие политические и экономические события в стране и мире.
				p 2.6 Публиковать коммерческую и некоммерческую рекламу.
				p 2.7 Публиковать объявления частного характера, содержащие предложения на покупку/продажу товаров и/или услуг, в том числе содержащие контактную информацию.
				p 2.8 Прямо и косвенно оскорблять других пользователей в чате (использовать литературные, разговорные слова при оскорблении или хамстве пользователей чата), хамить пользователям и администрации чата, устраивать разборки и/или выяснения отношений.
				p 2.9 Писать сообщения, разглашающие любую личную информацию участника, модератора, администрации клуба без его согласия
				p 2.10 Писать сообщения провокационного характера, с целью вызвать конфликты, споры, взаимные оскорбления
				p 2.11 Отправлять большое количество однотипных сообщений в течение 5 минут или большое количество сообщений, которые могут быть объединены в одно.
				h3 3 Права и обязанности модераторов, администраторов и спикеров Клуба
				p 3.1 Если администратор или модератор считает, что какое-либо действие участника мешает остальным пользователям, он обязан предупредить участника о недопустимости такого поведения.
				p 3.2 За нарушения правил модератор или администрация клуба с предупреждением в личные сообщения может ограничить доступ к публикации сообщений в чате клуба. За повторное нарушение правил модератор или администрация клуба может ограничить доступ к  участию в клубе.
				p 3.3 Модератор или администратор чата имеют право удалить сообщения участника из чата, если оно нарушает правила чата клуба.
				p 3.4 Спикер имеет право отвечать на сообщения участников клуба по теме своих прямых эфиров, уроков, аудиосообщений, подкастов и самостоятельных заданий.
				p 3.5 Модератор или спикер могут публиковать ссылки на сторонние ресурсы с разрешения администратора чата.
				p 3.6 Администрация клуба может вносить изменения в правила клуба.
		include pug/scripts/body_bottom_scripts