#about
	padding 100px 0
	@media screen and (max-width 767px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding: 40px 0
.about-text
	font-style: italic
	margin-bottom: 25px
	@media screen and (max-width 560px)
		margin-bottom: 20px
.about-bq
	font-weight: bold
	color #459799
	margin-top: 30px
	@media screen and (max-width 560px)
		margin-top: 25px
.about-img
	display block
	width auto
	@media screen and (max-width 1199px)
		width 100%
		max-width 478px
	@media screen and (max-width 991px)
		margin 0 0 30px