#info
	padding 80px 0
	background-color: #EEEEEE
	@media screen and (max-width 767px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding: 40px 0
.info-item
	margin-bottom: 35px
	&:last-of-type
		margin-bottom: 0
.info-text
	margin-bottom: 20px
	span
		font-weight: bold