#for
	padding 100px 0
	@media screen and (max-width 767px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding: 40px 0
.for-item
	margin-bottom: 60px
	@media screen and (max-width 560px)
		margin-bottom: 35px
	&-img
		display block
		width 100%
		max-width 53px
		margin 0 auto 25px
		@media screen and (max-width 560px)
			margin-bottom: 15px
			width 35px
			height: 17px
.medias
	width 150%
	margin 0 auto
	position relative
	left -10%
	height: 39px
	// right -50%
	// img
	// 	display block
	// 	width auto
	// 	margin 0 auto
	// 	position relative
	// 	top 0
	// 	left -15%
	// 	&:last-of-type
	// 		margin 15px auto 60px
	&-2
		margin 15px 0 60px
		@media screen and (max-width 560px)
			margin 7px 0 50px
	p
		display inline-block
		text-align center
		width auto
		font-size: 30px
		padding 0 24px 5px
		border-radius: 25px
		border: 2px solid #68DEE1
		color #68DEE1
		line-height: 30px
		margin-right: 18px
		cursor: grab
		@media screen and (max-width 560px)
			font-size: 16px
			padding 5px 10px
			line-height: 1
			margin-right: 12px