#prices
	padding 100px 0
	text-align center
	@media screen and (max-width 767px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding: 40px 0
.prices-title
	font-weight: 900
	text-transform uppercase
.clock
	margin 50px auto
	width 100%
	@media screen and (max-width 560px)
		margin 30px auto
.flip-clock-wrapper .flip
	box-shadow: none
.flip-clock-wrapper ul li a div.up::after
	height: 0
.flip-clock-wrapper ul li a div div.inn
	color #5CCBCD
	font-family: M
	font-weight: 900
	text-shadow: none
	background-color: #fff
	border-radius: 0
.flip-clock-wrapper ul li a div.down
	border-radius: 0
.flip-clock-dot
	border-radius: 0
	background-color: #5CCBCD
	box-shadow: none
@media screen and (max-width 560px)
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 20px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px