#prices
	padding 100px 0
	text-align center
	@media screen and (max-width 767px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding: 40px 0
.prices-title
	font-weight: 900
	text-transform uppercase
.clock
	margin 50px auto
	width 100%
	@media screen and (max-width 560px)
		margin 30px auto
.flip-clock-wrapper .flip
	box-shadow: none
.flip-clock-wrapper ul li a div.up::after
	height: 0
.flip-clock-wrapper ul li a div div.inn
	color #5CCBCD
	font-family: M
	font-weight: 900
	text-shadow: none
	background-color: #fff
	border-radius: 0
.flip-clock-wrapper ul li a div.down
	border-radius: 0
.flip-clock-dot
	border-radius: 0
	background-color: #5CCBCD
	box-shadow: none