I = 'Inter', sans-serif;
M = 'Mulish', sans-serif;

@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/InterRegular.eot');
	src: url('../fonts/InterRegular.eot') format('embedded-opentype'),url('../fonts/InterRegular.woff2') format('woff2'),url('../fonts/InterRegular.woff') format('woff'),url('../fonts/InterRegular.ttf') format('truetype'),url('../fonts/InterRegular.svg#InterRegular') format('svg');
@font-face
	font-family: 'Mulish';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/MulishRegular.eot');
	src: url('../fonts/MulishRegular.eot') format('embedded-opentype'),url('../fonts/MulishRegular.woff2') format('woff2'),url('../fonts/MulishRegular.woff') format('woff'),url('../fonts/MulishRegular.ttf') format('truetype'),url('../fonts/MulishRegular.svg#MulishRegular') format('svg');
@font-face
	font-family: 'Mulish';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/MulishBold.eot');
	src: url('../fonts/MulishBold.eot') format('embedded-opentype'),url('../fonts/MulishBold.woff2') format('woff2'),url('../fonts/MulishBold.woff') format('woff'),url('../fonts/MulishBold.ttf') format('truetype'),url('../fonts/MulishBold.svg#MulishBold') format('svg');
@font-face
	font-family: 'Mulish';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/MulishExtraBold.eot');
	src: url('../fonts/MulishExtraBold.eot') format('embedded-opentype'),url('../fonts/MulishExtraBold.woff2') format('woff2'),url('../fonts/MulishExtraBold.woff') format('woff'),url('../fonts/MulishExtraBold.ttf') format('truetype'),url('../fonts/MulishExtraBold.svg#MulishExtraBold') format('svg');
@font-face
	font-family: 'Mulish';
	font-display: fallback;
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/MulishItalic.eot');
	src: url('../fonts/MulishItalic.eot') format('embedded-opentype'),url('../fonts/MulishItalic.woff2') format('woff2'),url('../fonts/MulishItalic.woff') format('woff'),url('../fonts/MulishItalic.ttf') format('truetype'),url('../fonts/MulishItalic.svg#MulishItalic') format('svg');
@font-face
	font-family: 'Mulish';
	font-display: fallback;
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/MulishSemiBoldItalic.eot');
	src: url('../fonts/MulishSemiBoldItalic.eot') format('embedded-opentype'),url('../fonts/MulishSemiBoldItalic.woff2') format('woff2'),url('../fonts/MulishSemiBoldItalic.woff') format('woff'),url('../fonts/MulishSemiBoldItalic.ttf') format('truetype'),url('../fonts/MulishSemiBoldItalic.svg#MulishSemiBoldItalic') format('svg');