footer
	padding 50px 0
	text-align: center
	background-color: #EEEEEE
	font-size: 20px
.conditions
	color #000
	text-decoration: underline
	&:focus
		color #000
		text-decoration: underline
	&:hover
		color: #000
		text-decoration: none