section#main
	.main-content
		.container
			//- .row
			//- 	.col-md-10.col-md-offset-1
			.main-name
				+img('main-logo', 'img/images/logo-head.png', 'Логотип')
				.main-titles
					+img('main-title main-title-1', 'img/images/club.png', 'Клуб')
					+img('main-title main-title-2', 'img/images/profit.png', 'Профит')
			h2.main-sutitle Сообщество для&nbsp;финансового роста и развития специалистов помогающих профессий в&nbsp;мягких нишах
		.content
			.owl-carousel.medias.medias-1
				p коучи
				p психологи
				p мак-терапевты
				p регрессологи
				p расстановщики
				p тета-хиллеры
				p тета-практики
				p мак-терапевты
				p коучи
				p психологи
				p мак-терапевты
				p регрессологи
				p расстановщики
				p тета-хиллеры
				p тета-практики
				p мак-терапевты
			.owl-carousel.medias.medias-2
				p начинающие эксперты
				p фрилансеры
				p окружение
				p цифровые психологи
				p астрологи
				p нумерологи
				p энерготерапевты
				p начинающие эксперты
				p фрилансеры
				p окружение
				p цифровые психологи
				p астрологи
				p нумерологи
				p энерготерапевты
		.container
			+b('button-main', href, 'Подробнее о&nbsp;клубе')