section#main
	.container
		.main-content
			.main-name
				+img('main-logo', 'img/images/logo-head.png', 'Логотип')
				.main-title
					+img('main-title', 'img/images/profit.png', 'Профит')
					+img('main-title', 'img/images/club.png', 'Клуб')
				h2.main-sutitle Сообщество для&nbsp;финансового роста и развития специалистов помогающих профессий в&nbsp;мягких нишах
				.main-directions
					+img('main-dir-img','img/images/main-directions-1.png', 'Направления')
					+img('main-dir-img','img/images/main-directions-2.png', 'Направления')
				+b('', href, 'Подрбнее о клубе')