section#about
	.container
		.row
			.col-lg-5.col-md-5
				+img('about-img', 'img/images/about.png', '')
			.col-lg-6.col-lg-offset-1.col-md-7
				p.about-text «Самая ненавистная тема для любого помогающего специалиста — это тема продаж и продвижения. Поиск клиентов буквально „унижает“ достоинство и профессионализм. Мы не любим продажи. Не любим соцсети. Нас угнетает их пафос. 
				p.about-text Я убеждена, что именно в формате клуба с эфирами от разных экспертов, с поддержкой коллег и единомышленников можно добиться невероятного роста своей уверенности, проявленности и дохода. 
				p.about-text Продажи — это тренируемый навык. Но важна поддержка, знания и практический опыт, чтобы не слиться и не выгореть до того, как получишь первые ощутимые результаты».
				p.about-bq Жанна Абрамова, амбассадор клуба PROFIT