section#info
	.container
		.info-item
			h3.general-title цель клуба
			p.info-text Объединить специалистов, готовых вместе развиваться и поддерживать друг друга.
			p.info-text Обучение простым, но эффективным инструментам продаж и продвижения для&nbsp;роста и развития резидентов клуба.
			p.info-text Обмен опытом, поддержка и мотивация от&nbsp;спикеров и коллег-резидентов клуба.
		.info-item
			h3.general-title формат клуба
			p.info-text Доступ в&nbsp;закрытый Telegram-канал, где будут проводиться прямые эфиры, уроки, практики и мастермайнды на&nbsp;разные актуальные темы по&nbsp;продажам, поиску клиентов и масштабированию.
			p.info-text Мы собрали десятки спикеров — экспертов в&nbsp;разных нишах, готовых делиться своими знаниями и опытом. Среди них маркетологи, юристы, психологи, коучи, контентмейкеры, эксперты по&nbsp;продажам и эксперты &nbsp; бренду. 
			p.info-text Клуб PROFIT — это не&nbsp;просто сообщество. Это обширная база знаний для&nbsp;взаимовыгодного развития каждого резидента.
		.info-item
			h3.general-title как вступить в&nbsp;клуб
			p.info-text Участие в&nbsp;клубе предполагает ежемесячную подписку. Сейчас можно приобрести доступ в&nbsp;клуб на&nbsp;сентябрь. Стоимость подписки всего 1&nbsp;490руб.
			p.info-text Каждый месяц в&nbsp;клубе будет новое расписание тем и эфиров. При&nbsp;составлении расписания на&nbsp;следующий месяц мы будем прислушиваться к&nbsp;пожеланиям резидентов.