section.schedule
	.container
		.row
			.col-md-8
				+gt('general-title-grey', 'Расписание Клуба на&nbsp;сентябрь и спикеры')
	.container
		p.next-text.d-none Листайте вправо
		.owl-carousel.owl-theme.experts
			.expert
				+img('expert-img','img/images/tigran.png', 'Тигран Хазов')
				.expert-info
					p.expert-text
						span Дата:
						|  7.09.2024
					p.expert-text
						span Тема:
						|  Мечтаю о публичности, но страшно
					p.expert-text
						span Эксперт:
						|  Тигран Хазов
					ul.general-list
						li Актер театра и кино, режиссер мероприятий, контент-режиссер.
						li Всю жизнь что-то придумываю, создаю, сочиняю, креативлю.
						li Создал более 1000 видеороликов для социальных сетей своим клиентам (длинные ролики YouTube, короткие ролики Reels, Shorts, Tiktok)
						li Эксперт по коротким видеороликам
						li Спикер оффлайн школы предпринимателей «Терра» (курс видеопродакшн, школа блогеров) 
						li Резидент клуба ораторов «Школа я-оратор» 
						li Преподаватель по сценической речи, актерскому мастерству и выступлениям на сцене
			.expert
				+img('expert-img','img/images/alex.png', 'Александр Кудряшов')
				.expert-info
					p.expert-text
						span Дата:
						|  13.09.2024 
					p.expert-text
						span Тема:
						|  Страх продаж (негативные убеждения о продажах).
					p.expert-text
						span Эксперт:
						|  Александр Кудряшов
					ul.general-list
						li Бизнесмен с 14-ти летним опытом
						li За всю жизнь проработал по найму 3 недели (практика в институте)
						li Основатель образовательного проекта MasterVision (более 30000 выпускников)
						li Эксперт по построению реферальных программ
						li Автор книги «Партнерская программа для вашего бизнеса» 
						li Автор книги «Дистанционное видение» 
						li Резидент клуба предпринимателей EdGlobal
						li Эксперт в области прямых продаж, продаж по телефону, продаж по переписке, продаж через диагностики (практический опыт 13 лет)
			.expert
				+img('expert-img','img/images/masyul.png', 'Юлия Масюль')
				.expert-info
					p.expert-text
						span Дата:
						|  17.09.2024 
					p.expert-text
						span Тема:
						|  Соцсети — с чего начать? (Упаковка соцсетей, база).
					p.expert-text
						span Эксперт:
						|  Юлия Масюль
					ul.general-list
						li Эксперт по запускам обучающих программ, мастер-классов, наставничества.  
						li СММ специалист
						li Наставник экспертов 
						li Ниши запусков: психология, эзотерика. Опыт работы в онлайне 9 лет.
						li Принесла своим экспертам более 100 млн руб.
						li Владеет структурой запусков онлайн продуктов, пошаговыми действиями, которые применимы в разных нишах, для запуска своих проектов.
						li Навыки продвижения экспертов, а также коммерческих аккаунтов в социальных сетях: инстаграм, вк, телеграмм, ютюб, тикток.
						li Запускала собственные обучающие курсы: интернет маркетолог, специалист в Вконтакте, креативные видео. Вела обучающие программы партнеров Академии MasterVision по направлению развитие социальных сетей.
			.expert
				+img('expert-img','img/images/alex.png', 'Александр Кудряшов')
				.expert-info
					p.expert-text
						span Дата:
						|  20.09.2024 
					p.expert-text
						span Тема:
						|  Оффер — что это такое и с чем его едят? Как составить свой продающий оффер.
					p.expert-text
						span Эксперт:
						|  Александр Кудряшов
					ul.general-list
						li Бизнесмен с 14-ти летним опытом
						li За всю жизнь проработал по найму 3 недели (практика в институте)
						li Основатель образовательного проекта MasterVision (более 30000 выпускников)
						li Эксперт по построению реферальных программ
						li Автор книги «Партнерская программа для вашего бизнеса» 
						li Автор книги «Дистанционное видение» 
						li Резидент клуба предпринимателей EdGlobal
						li Эксперт в области прямых продаж, продаж по телефону, продаж по переписке, продаж через диагностики (практический опыт 13 лет)
			.expert
				+img('expert-img','img/images/alex.png', 'Александр Кудряшов')
				.expert-info
					p.expert-text
						span Дата:
						|  25.09.2024 
					p.expert-text
						span Тема:
						|  Как доносить свою ценность до клиента (синдром самозванца). Много знаю/умею, но клиентов нет, не могу продать свои услуги. Консультирую бесплатно.
					p.expert-text
						span Эксперт:
						|  Александр Кудряшов
					ul.general-list
						li Бизнесмен с 14-ти летним опытом
						li За всю жизнь проработал по найму 3 недели (практика в институте)
						li Основатель образовательного проекта MasterVision (более 30000 выпускников)
						li Эксперт по построению реферальных программ
						li Автор книги «Партнерская программа для вашего бизнеса» 
						li Автор книги «Дистанционное видение» 
						li Резидент клуба предпринимателей EdGlobal
						li Эксперт в области прямых продаж, продаж по телефону, продаж по переписке, продаж через диагностики (практический опыт 13 лет)
			.expert
				+img('expert-img','img/images/janna-0.png', 'Жанна Абрамова')
				.expert-info
					p.expert-text
						span Дата:
						|  28.09.2024
					p.expert-text
						span Тема:
						|  Баги в мышлении или почему не получается достигать своих целей.
					p.expert-text
						span Эксперт:
						|  Жанна Абрамова
					ul.general-list
						li Психотерапевт, клинический психолог, расстановщик
						li Более 20 лет практической работы
						li Блогер с аудиторией более 80 000 подписчиков в соцсетях
						li Эксперт федеральных тв-каналов
						li Ведущий преподаватель «Института современной психологии»
						li Коуч, тренер обучающих и трансформационных программ, многие из которых созданы с применением собственных инструментов и методик
section.schedule
	.container
		.row
			.col-md-8
				+gt('general-title-grey', 'Живая встреча клуба в&nbsp;Москве')
		.expert
			+img('expert-img','img/images/janna-color.png', 'Жанна Абрамова')
			.expert-info
				p.expert-text
					span Дата:
					|  21.09.2024
				p.expert-text
					span Тема:
					|  Распаковка личности
				p.expert-text
					span Эксперт:
					|  Жанна Абрамова
				ul.general-list
					li Психотерапевт, клинический психолог, расстановщик
					li Более 20 лет практической работы
					li Блогер с аудиторией более 80 000 подписчиков в соцсетях
					li Эксперт федеральных тв- каналов
					li Ведущий преподаватель «Института современной психологии»
					li Коуч, тренер обучающих и трансформационных программ, многие из которых созданы с применением собственных инструментов и методик