section#for
	.container
		.for-item
			+gt('', 'Вы сейчас')
			+img('for-item-img', 'img/icons/arrow-down.svg')
			ul.general-list
				li нет потока клиентов и стабильного дохода от консультаций
				li саботируете соцсети, надо что-то делать, но по-старому не получается, а по-новому страшно
				li у вас большой опыт и хорошие отзывы, но мысль о поиске новых клиентов вводит в ступор
				li давно пора повысить цены, но боитесь, что на новый прайс никто не придет
				li вас достали соцсети, много раз пробовали вести, но не было результата
				li не знаете с чего и как начать поиск новых клиентов
				li все знаете о продажах своих услуг, все умеете, но мотивации не хватает на действия
				li вас не устраивает доход, но как его увеличить без цирка и танцев с бубном в соцсетях вы не знаете
		.for-item
			+gt('', 'Вы мечтаете')
			+img('for-item-img', 'img/icons/arrow-down.svg')
			ul.general-list
				li иметь очередь из клиентов, готовых платить столько, сколько вы считаете нужным 
				li легко и быстро продавать свои услуги, без стыда и страха, на любой площадке
				li величить свой доход в 2-3 и более раз без ведения контента 24/7
				li проявляться и не бояться публичности
				li разобраться с продажами и продвижением своих услуг
				li работать и достойно зарабатывать без стресса и тревоги от постоянной нехватки клиентов и необходимости их поиска
				li работать меньше, а зарабатывать больше
				li приобрести практический опыт и навыки для своего роста, уверенности и дохода
				li получать поддержку и мотивацию от коллег и единомышленников
	.content
		.owl-carousel.medias.medias-1
			p соцсети
			p продажи
			p психология
			p рост
			p окружение
			p продвижение
			p мышление
			p рост
			p соцсети
			p продажи
			p психология
			p рост
			p окружение
			p продвижение
			p мышление
			p рост
		.owl-carousel.medias.medias-2
			p развитие
			p мотивация
			p личный бренд
			p проявленность
			p контент
			p поддержка
			p маркетинг
			p развитие
			p мотивация
			p личный бренд
			p проявленность
			p контент
			p поддержка
			p маркетинг
		//- .medias
		//- 	+img('medias-img', 'img/images/medias-1.png', 'Медиа')
		//- 	+img('medias-img', 'img/images/medias-2.png', 'Медиа')
			//- .medias
			//- 	//- +img('medias-img', 'img/images/medias-1.png', 'Медиа')
			//- 	+img('medias-img', 'img/images/medias-2.png', 'Медиа')
	.container
		+b('button-black', href, 'Принять участие')