section#ambassador
	.container
		.row
			.col-md-6
				p.amb-pre.d-none Амбассадор клуба
				.amb-title.d-none
					+img('amb-title-img', 'img/images/janna-1.png', 'Жанна')
					+img('amb-title-img', 'img/images/janna-2.png', 'Абрамова')
				+img('amb-img', 'img/images/janna-amb.png', 'Жанна Абрамова')
			.col-md-6
				p.amb-pre.mob-none Амбассадор клуба
				.amb-title.mob-none
					+img('amb-title-img', 'img/images/janna-1.png', 'Жанна')
					+img('amb-title-img', 'img/images/janna-2.png', 'Абрамова')
				ul.general-list.genearl-list-white
					li Психотерапевт, клинический психолог, расстановщик
					li Более 20 лет практической работы
					li Блогер с аудиторией более 80 000 подписчиков в соцсетях
					li Эксперт федеральных тв-каналов
					li Ведущий преподаватель «Института современной психологии»
					li Коуч, тренер обучающих и трансформационных программ, многие из которых созданы с применением собственных инструментов и методик.
				p.amb-bg «Только формат Клуба может закрыть обширную тему продаж для помогающего специалиста. Можно пройти десятки обучающих курсов и программ, но так и не начать действовать.
				p.amb-bg Темы в расписании Клуба подобраны так, чтобы они были полезными для специалистов в разных нишах, с разным опытом продаж и поиска клиентов.
				p.amb-bg А главное, формат клуба позволяет создать поддерживающее и мотивирующее сообщество единомышленников».