* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-size: 20px;
  font-family: M;
  color: #525050;
  background-color: #fff;
  line-height: 1.1;
}
@media screen and (max-width: 560px) {
  body {
    font-size: 16px;
  }
}
.wrapper {
  overflow: hidden;
}
.content {
  position: relative;
  z-index: 60;
}
a {
  color: #000;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button {
  border: none;
}
section,
header,
footer {
  width: 100%;
  display: block;
}
.d-none {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .d-none {
    display: block !important;
  }
}
@media screen and (max-width: 991px) {
  .mob-none {
    display: none;
  }
}
